html, body, {
    height: 100%;
  }

body {
  margin: 0;
  color: #FFF;
  font: normal 16px/1.2 "Roboto", Helvetica, Arial, sans-serif;
  text-align: center;
  text-shadow: 1px 1px #000;
  background: #111 url( '../images/Mountains_edit.jpg' ) no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: inline-block;
  vertical-align: top;
}

.container {
  max-width: 650px;
  padding: 175px 20px 15px;
}

.friends {
  padding-top: inherit;
}

.titles, .audio{
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.audio {
	padding-top: 25px;
}

.form {
  padding-top: 75px;
}

h1, h2, h3 {
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 8em;
}

h2 {
  font-size: 2em;
  padding-top: 15px;
}

h3 {
  font-size: 4em;
}

.combo {
  font-color: red;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY();
  }
}

.github-icon {
	position: fixed;
  bottom: 5px;
	right: 5px;
}

.home-icon {
  position: fixed;
  font-size: 1.7em;
  text-shadow: 0 0 0px black;
  color: black;
  bottom: 2px;
  left: 5px;
}
